h1 {
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


div{
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div h2{
    background-color: aquamarine;
    padding: 10px 10px 20px 10px;
    border-radius: 30px;
}

div h2 h6{
    background-color: purple;
    text-align: justify;
    padding: 30px 50px 30px 50px;
    margin-top: 10px;
    border: 5px solid blue;
    border-radius: 50px;
}

.informacion{
    display: inline-block;

}

.tarjetas{
    color: white;
    margin: 10px 0px 0px 0px;
}
