section{
    background: #4e54c8; 
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8); 
    background: linear-gradient(to right, #8f94fb, #4e54c8); 
    margin: 10px 100px 0px 100px;
    border-radius: 50px;
    text-decoration: underline black;
}

li{
    padding-left: 10px;
    padding-right: 10px;
}

